<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.mobileguardtest"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AntiTheftActivity" />
        <activity android:name=".activity.Setup1Activity" />
        <activity android:name=".activity.Setup2Activity" />
        <activity android:name=".activity.Setup3Activity" />
        <activity android:name=".activity.Setup4Activity" />
        <activity android:name=".activity.ContactListActivity" />
        <activity android:name=".activity.AtoolActivity" />
        <activity android:name=".activity.QueryAddressActivity" />
        <activity android:name=".activity.BlackNumberActivity" />
        <activity
            android:name=".activity.AddressToastPositionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".service.BlackNumberService" />
        <service android:name=".service.AddressService" />

        <activity
            android:name=".activity.AppManagerActivity"
            android:label="@string/title_activity_app_manager"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>